
<h1>Import Users</h1>
<form asp-controller="Account" asp-action="ImportUsers" method="post" enctype="multipart/form-data">
    <div class="form-group" w-25>
        <input type="file" name="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-outline-success">Import Users</button>
</form>